<div class="p-11 h-full flex flex-col ">
<mat-form-field>
    <mat-label>Debit from</mat-label>
    <mat-select >
      <mat-option value="option1">Acc 1</mat-option>
      <mat-option value="option2" >Acc 2 </mat-option>
      <mat-option value="option3">Acc 3</mat-option>
    </mat-select>
  </mat-form-field>
<mat-form-field>
    <mat-label>Credit to</mat-label>
    <mat-select >
      <mat-option value="option1">Acc 1</mat-option>
      <mat-option value="option2" >Acc 2 </mat-option>
      <mat-option value="option3">Acc 3</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field  >
    <mat-label>amount</mat-label>
    <input matInput placeholder="">
    
  </mat-form-field>
  <div>
    <h3>Disclaimer:</h3>
    <p>rates may be subjected to change time to time</p>
  </div>
  <div class="flex justify-evenly items-center py-10">

        <button mat-flat-button color="warn" class="w-1/2">Cancel</button>
        <button mat-flat-button color="primary" class="w-1/2">Submit</button>
        
  </div>
</div>