  <form #data="ngForm"name="myForm" #myForm="ngForm" (ngSubmit)="submit(data)">

    <div class="p-11 h-full flex flex-col ">

<mat-form-field>
    <mat-label>Debit from</mat-label>
    <mat-select name="from" ngModel >
      <mat-option  *ngFor="let acc of accounts" value={{acc.currency}}> a/c : {{acc.ano}}  :   {{acc.currency}}</mat-option>

    </mat-select>
  </mat-form-field>
<mat-form-field>
    <mat-label>Credit to</mat-label>
    <mat-select name="to" ngModel >

      <mat-option value={{acc.currency}} *ngFor="let acc of accounts"> a/c : {{acc.ano}}  :   {{acc.currency}}</mat-option>

    </mat-select>
  </mat-form-field>
  <mat-form-field  >
    <mat-label>amount</mat-label>
    <input matInput placeholder=""  name="amount" ngModel>
    <!-- <mat-hint>Hint</mat-hint> -->
  </mat-form-field>
  <div>
    <h3>Disclaimer:</h3>
    <p>rates may be subjected to change time to time</p>
  </div>
  <div class="flex justify-evenly items-center py-10">

        <button mat-flat-button color="warn" class="w-1/2">Cancel</button>
        <button mat-flat-button color="primary" type="submit"  class="w-1/2">Submit</button>
        
  </div>
</div>

</form>
